html {
    background-color: #EEEDEB;
    font-family: monospace;
    transition: background-color 0.3s ease;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  html.dark {
    
    background-color: #231f20;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }
  

  .hamburger {
    padding-left: 250px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #8ba888;
  }
  .dark .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #f1ebe1;
  }
  .nav-links {
    filter: 2px;
    z-index: 1;
    color: #fff;
    user-select: none;
    color: inherit;
    width: 100%;
    top: 5rem;
    left: 48px;
    
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: lowercase;
    user-select: none;
    transition: transform 0.2s ease;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
    text-underline-offset: 10px;
    transform: scale(1.1);
    ;
  }
  .nav-links a:visited {
    
    color: inherit;
    ;
  }

  .nav-links a:active {
    transform: scale(0.9) ;
    color: inherit;
  }
  
  .expanded {
    display: unset;
  }

  .foot {
    padding: 20% 1%;
    color: #44624a;

    text-decoration: none;
  }
  .dark .foot {
    padding: 20% 1%;
    color:#E5E5CB;

    text-decoration: none;
  }
  .foot a:visited {
    color: inherit;
  }
  .typed {
    position: relative;
    opacity: 1;
	  font-size: 60px;
    animation: typing 0.75s ease;
  }
  .containertype {
    display: inline-block;
  }
  
  
  @keyframes typing {
    0% { left: 0.09em; opacity: 0; filter: blur(0); }
    50% { left: -0.09em; opacity: 0.7;filter: blur(2px); }
    100% { left: 0; opacity: 1;filter: blur(0); ; }
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
    .hamburger {
        display: none;
      }
  }

  