---
const pageTitle = "about";

import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="containertype">
		<div class = "typed">about</div>
		
	</div>
	<h2> </h2>
</BaseLayout>
