---
const pageTitle = "about";

import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="containertype">
		<div class = "typed">{pageTitle}</div>
		
	</div>
	<h2> Hi, im sean a 2nd year student</h2>
</BaseLayout>
