---
const pageTitle = "home";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<section class= "margin">

	</section>
	<h1 class="warptext">
		<p class="title">
		<span>s</span><span>e</span><span>a</span><span>n</span>
		<span>t</span><span>h</span><span>e</span><span>r</span><span>i</span><span>a</span><span>u</span><span>l</span><span>t</span>
		</p>
		<p class="subtitle">
			<span>E</span><span>L</span><span>E</span><span>C</span><span>T</span><span>R</span><span>I</span><span>C</span><span>A</span><span>L</span>
		<span>E</span><span>N</span><span>G</span><span>I</span><span>N</span><span>E</span><span>E</span><span>R</span><span>I</span><span>N</span><span>G</span>
		<span>S</span><span>T</span><span>U</span><span>D</span><span>E</span><span>N</span><span>T</span>
		<section class="blobcont">
			<div class="blob"></div>
			
		</section>
		
		</section>
		
		</p>
		
	</h1>
	<section class="message-container">
		<div class="message-box">
			<span id="message">@uAlberta</span>
			<span id="message">hello</span>
			
		</div>
	
	
</BaseLayout>

<style>
	.margin {
		padding-top: 20%;
	}
	.warptext span { 
	position: relative;
    opacity: 1;
	z-index: 1;
	
	
	animation: move-text 0.5s ease;
    
  }
  .dark .warptext span{ 
    color: black ;
     }

	.warptext .title {
		font-size: 60px;
		
	}
	@keyframes colorGlide {
		0% {
        color: #aec178;
    }
    50% {
        color: #9fbbcc;
    }
    100% {
        color: #adc178;
    }
	}
   .subtitle {
	margin-top: -5rem;
	filter: invert(10px);
	animation: colorGlide 10s infinite;
	font-size: 30px;
   }
   .dark .subtitle {
	
   }
  @keyframes move-text {
	0% { bottom: -0.05em; opacity: 0; filter: blur(0); }
    50% { bottom: 0.05em; opacity: 0.7;filter: blur(1px); }
    100% { bottom: 0; opacity: 1;filter: blur(0); ; }
  }
  @keyframes nudge-text {
	0% { bottom: -0.00em; opacity: 1 ; filter: blur(0);  }
    50% { bottom: 0.00em; opacity: 0.6;filter: blur(1.4px)}
    100% { bottom: 0; opacity: 1; filter: blur(0) }
  }
  
  .warptext span:hover {
	animation: nudge-text 0.3s ease;
  }
  .blobcont {
	z-index: -1;
  }
  .blobcont .blob {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    width: 100px;
	position: absolute;
	left: 15%;
	top: 15%;
	
	z-index: -10;
	opacity: 0;
    height: 100px;
    background: black;
	background-image: linear-gradient(45deg, #51de80 0%, rgb(229, 174, 74) 100%);
    
    
    animation: animateBlob 15s linear infinite alternate;
}


@keyframes animateBlob {
    0% {
        transform: scale(1) ;
		border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
		
    }
    100% {
        transform:scale(1.1);
		border-radius: 20% 90% 50% 10% / 53% 45% 70% 50%;
		
    }
}


	.message-container {
		margin-left: 0%;
		opacity: 0;
		font-size: 40px;
		overflow: hidden; 
		height: 100px; 
		width: 300px;
		
	}

	.message-box {
		display: flex;
		flex-direction: right;
		gap: 300px;
		animation: scroll-up 12s linear infinite; 
	}

	.message {
		padding: 10px; /* Add padding for better readability */
		
	}

	@keyframes scroll-up {
		0% {
			transform: translateX(150%);
			
		}
		10% {
			transform: translateX(0%);
			
		}
		40% {
			transform: translateX(0%);
			
		}
		
		50% {
			transform: translateX(-160%);
			filter: blur(0px);
			opacity: 1; /* Start off-screen below */
		}
		80% {
			transform: translateX(-160%);
			filter: blur(0px); /* Start off-screen below */
		}

		95% {
			filter: blur(2px);
			transform: translateX(-350%);
			 /* End off-screen above */
		}
		100% {
			transform: translateX(-350%);
			
		}
	}

</style>
