---
const pageTitle = "home";
import Greeting from '../components/Greeting'
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle={pageTitle}>
	<h2> LOREM IPSUM</h2>
	
</BaseLayout>
