---
const pageTitle = "home";
import Greeting from '../components/Greeting'
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle={pageTitle}>

	<h1 class="warptext">
		<span>s</span><span>e</span><span>a</span><span>n</span>
		<span>t</span><span>h</span><span>e</span><span>r</span><span>i</span><span>a</span><span>u</span><span>l</span><span>t</span>
		
	</h1>

	
</BaseLayout>
<style>
	.warptext span { 
	
	position: relative;
    opacity: 1;
	font-size: 60px;
	animation: move-text 0.5s ease;
    
  }
  .dark .warptext span{ 
    color: black ;
    
    }
   
  @keyframes move-text {
	0% { bottom: -0.05em; opacity: 0; filter: blur(0); }
    50% { bottom: 0.05em; opacity: 0.7;filter: blur(1px); }
    100% { bottom: 0; opacity: 1;filter: blur(0); ; }
  }
  @keyframes nudge-text {
	0% { bottom: -0.00em; opacity: 1 ; blur(0);  }
    50% { bottom: 0.00em; opacity: 0.6;blur(1.4px)}
    100% { bottom: 0; opacity: 1; blur(0) }
  }
  
  .warptext span:hover {
	animation: nudge-text 0.3s ease;
  }
</style>
